<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>View Course by ID</title>
    </head>
    <body>
       	<h3 th:text="'ID = ' + ${course.idCourse}">Course ID</h3>
       	<h3 th:text="'Nama = ' + ${course.nama}">Course Name</h3>
       	<h3 th:text="'SKS = ' + ${course.sks}">Course SKS</h3>
       	<h3>Mahasiswa yang mengambil</h3>
       	<ul th:each="student, iterationStatus:${course.students}">
       		<li th:text="${student.npm} + ' - ' + ${student.name}">
       			NPM - Nama
       		</li>
       	</ul>
    </body>
</html>