<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>View All Courses</title>
</head>
<body>
	<h2 th:text=" 'Login as ' + ${#httpServletRequest.remoteUser}">Login
		as</h2>
	<form th:action="@{/logout}" method="post">
		<input type="submit" value="Sign Out" />
	</form>
	<h1>All Courses</h1>

	<div th:each="course,iterationStatus: ${courses}">
		<h3 th:text="'ID = ' + ${course.idCourse}">Course ID</h3>
		<h3 th:text="'Nama = ' + ${course.nama}">Course Name</h3>
		<h3 th:text="'SKS = ' + ${course.sks}">Course SKS</h3>
		<h3>Mahasiswa yang mengambil</h3>
		<ul th:each="student, iterationStatus:${course.students}">
			<li th:text="${student.npm} + ' - ' + ${student.name}">NPM -
				Nama</li>
		</ul>

		<hr />
	</div>
</body>
</html>